---
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
        exclude: ^(docs/)
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ^(docs/)
      - id: pretty-format-json
        args: [--autofix]
        exclude_types: [jupyter]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: ^(docs/)
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: ^(docs/)
      - id: check-added-large-files
        args: [--maxkb=500]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml]
        files: src
        additional_dependencies: [pydantic~=2.0,types-pytz,types-requests,types-python-dateutil]
  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        args: [.]
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, ci, chore, test, docs]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
        - id: nbstripout
